h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.container {
    text-align: center;
    text-decoration: none;
}

.container a {
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.signup {
    text-align: center;
    text-decoration: none;
}

.signup a {
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
}

button {
    width: 95%;
}