h1{
    text-align: center;
  }
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.container{
    text-align: center;
}

.container a{
    padding: 10px 10px;
    display: inline-block;
}

.label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px; 
}

label {
    margin-right: 10px; 
}

button{
    width: 95%;
}